# Dependencies
node_modules/

# Build output
dist/
.output/

# Environment variables (NUNCA subir chaves)
.env
.env.local
.env.*.local

# Astro
.astro/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build cache
.turbo/
.cache/
